html, body {
  
  
}
canvas {
  display: block;
  margin-right: 2rem;
  margin-left: 2rem;
  /* width: 80% */
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
